*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#head{
    font-family: 'Pacifico', cursive;
}


.container-blackjack{
    display: flex;
    width: 75%;
    margin: 10vh auto;
    text-align: center;
    flex-direction: column;
    border: 5px solid black;
    
    
}

.blackjack-box-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    border: 1px solid black; 
    background-color: green;
    height: 35rem;
    
}

.player-box,.bot-box{
    text-align: center;
    border: 1px solid black;
    flex: 1;
}

.player-box img{
    width: 6rem;
    margin: 20px;
}

.bot-box img{
    width: 6rem;
    margin: 20px;
}

.blackjack-box-2{
    background-color: rgb(2, 112, 2);
}

.blackjack-box-2 div button{
    margin: 1%;
    justify-content: space-evenly;
    
}

.blackjack-box-3{
    align-self: center;
    padding: 10px;
    background-color: rgb(24, 243, 79);
}

.blackjack-box-3 table tr td, th{
    margin: 2rem;
    padding: 0 2vh ;
    border: 1px solid  black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
